@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic-ext");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}


   .header {
  background-color: #B7E0C4;
  padding: 10px 15px;
}

.header-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header-logo-link .logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.header-logo-link .logo-desktop {
  background: url("../img/icons/logo-zrub-dom.svg");
  width: 130px;
  height: 100px;
}

.header-logo-link .logo-mobile {
  display: none;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.header-menu-list-link {
  padding: 5px 30px 5px 30px;
  font-size: 16px;
  font-family: "Roboto";
  color: #707070;
  line-height: 20px;
  text-transform: uppercase;
}

.header-menu-list-link:hover {
  text-decoration: underline;
}

.header-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.header-language-link_ua {
  margin-left: 10px;
  color: #707070;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
}

.header-language-link_ua:hover {
  text-decoration: underline;
}

.header-language-link_ua::before {
  content: "";
  background: url("../img/icons/icon-lang-ua.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.header-language-link_ru {
  margin-left: 10px;
  color: #707070;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
}

.header-language-link_ru:hover {
  text-decoration: underline;
}

.header-language-link_ru::before {
  content: "";
  background: url("../img/icons/icon-lang-ru.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 45px;
}

.header-contact {
  margin: 15px 0px 0px 10px;
}

.header-contact-link {
  color: #707070;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
}

.header-contact-link:hover {
  text-decoration: underline;
}

.header-burger {
  display: none;
}

.header-burger-menu-lang {
  display: none;
}

@media (max-width: 1024px) {
  .header-menu-list-link {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
  }

  .header-language-link {
    font-size: 14px;
  }

  .header-contact-link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .header-wrapper {
    position: relative;
    height: 50px;
  }

  .header-logo {
    position: relative;
    z-index: 3;
  }

  .header-logo .logo-desktop {
    display: none;
  }

  .header-logo .logo-mobile {
    background: url("../img/icons/logo-zrub-dom-mobile.svg");
    width: 70px;
    height: 60px;
    display: block;
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 380px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #ffffff;
    padding: 75px 0px 0px 0px;
  }

  .header-menu.active {
    top: 0;
  }

  .header-menu-list {
    display: block;
  }

  .header-menu-list li {
    padding: 15px 0px 10px 0px;
  }

  .header-language-link_ua {
    margin-left: 0px;
  }

  .header-language-link_ua::before {
    margin-right: 10px;
  }

  .header-language-link_ru {
    margin-left: 0px;
  }

  .header-language-link_ru::before {
    margin-right: 10px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: #707070;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    bottom: 0;
  }

  .header-burger.active .icon-burger {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header-burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-burger .icon-burger {
    background-color: #707070;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-additional {
    display: none;
  }

  .header-burger-menu-lang {
    display: block;
    background-color: #B7E0C4;
  }
}

.main-page-title-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.main-page-title {
  position: relative;
}

.main-page-title img {
  width: 100%;
  max-width: 1170px;
  height: auto;
}

.main-page-title-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 5px;
  background-color: #ffffff;
  opacity: 0.8;
  width: 100%;
  height: 100px;
  text-align: center;
}

.main-page-title-header {
  margin-bottom: 10px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main-page-title-text {
  color: #707070;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.main-page-title.arrow-to-down {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  margin: 40px auto;
  border-radius: 50%;
  border: 4px solid #6FC28A;
}

.main-page-title.arrow-to-down::after {
  content: "";
  background: url("../img/icons/arrow-to-down.svg");
  position: absolute;
  width: 35px;
  height: 12px;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

@media (max-width: 768px) {
  :target:before {
    content: "";
    display: inline-block;
    height: 60px;
    margin: -60px 0 0;
  }

  .main-page-title {
    padding: 60px 0px 0px 0px;
  }

  .main-page-title-content {
    padding: 10px 5px;
    height: 80px;
  }

  .main-page-title-header {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .main-page-title-text {
    font-size: 16px;
  }

  .main-page-title.arrow-to-down {
    margin: 40px auto 0px;
  }
}

.main-page-presentation-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.main-page-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 15px 60px 15px;
  text-align: center;
}

.main-page-presentation-header {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #707070;
}

.main-page-presentation-header::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #6FC28A;
  display: block;
  margin: 20px 0px 0px 0px;
}

.main-page-presentation-text {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #707070;
}

.main-page-presentation-products {
  margin-top: 20px;
}

.main-page-presentation-products-row.ru:last-child .products-item:nth-child(1) {
  padding: 70px 30px 20px 30px;
}

.main-page-presentation-products-row.ru:last-child .products-item:nth-child(2) {
  padding: 40px 35px 20px 35px;
}

.main-page-presentation-products-row.ru:last-child .products-item:nth-child(3) {
  padding: 75px 30px 20px 30px;
}

.main-page-presentation-products-row.ru .products-item {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.main-page-presentation-products-row.ru .products-item:nth-child(1) {
  padding: 20px 30px 20px 30px;
}

.main-page-presentation-products-row.ru .products-item:nth-child(2) {
  padding: 20px 30px 20px 30px;
}

.main-page-presentation-products-row.ru .products-item:nth-child(3) {
  padding: 20px 30px 20px 30px;
}

.main-page-presentation-products-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.main-page-presentation-products-row:first-child {
  margin-bottom: 20px;
}

.main-page-presentation-products-row:last-child .products-item:nth-child(1) {
  padding: 70px 28px 20px 28px;
}

.main-page-presentation-products-row:last-child .products-item:nth-child(2) {
  padding: 40px 20px 20px 20px;
}

.main-page-presentation-products-row:last-child .products-item:nth-child(3) {
  padding: 75px 26px 20px 26px;
}

.main-page-presentation-products-row .products-item {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.main-page-presentation-products-row .products-item:nth-child(1) {
  padding: 20px 25px 20px 25px;
}

.main-page-presentation-products-row .products-item:nth-child(2) {
  padding: 20px 28px 20px 28px;
}

.main-page-presentation-products-row .products-item:nth-child(3) {
  padding: 20px 20px 20px 20px;
}

.main-page-presentation-products-row .products-item:hover {
  outline: 2px solid #6FC28A;
}

.main-page-presentation-products-row .products-item-link {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #6FC28A;
  text-transform: uppercase;
}

.main-page-presentation-products-row .products-item-link.icon-house::before {
  content: "";
  background: url("../img/icons/icon-house.svg");
  width: 80px;
  height: 100px;
  display: block;
  margin: 0px auto 20px;
}

.main-page-presentation-products-row .products-item-link.icon-bench::before {
  content: "";
  background: url("../img/icons/icon-bench.svg");
  width: 80px;
  height: 45px;
  display: block;
  margin: 0px auto 20px;
}

.main-page-presentation-products-row .products-item-link.icon-garden::before {
  content: "";
  background: url("../img/icons/icon-garden-house.svg");
  width: 80px;
  height: 100px;
  display: block;
  margin: 0px auto 20px;
}

.main-page-presentation-products-row .products-item-link.icon-bath::before {
  content: "";
  background: url("../img/icons/icon-bath.svg");
  width: 80px;
  height: 100px;
  display: block;
  margin: 0px auto 20px;
}

.main-page-presentation-products-row .products-item-link.icon-table::before {
  content: "";
  background: url("../img/icons/icon-table.svg");
  width: 80px;
  height: 50px;
  display: block;
  margin: 0px auto 20px;
}

.main-page-presentation-products-row .products-item-link.icon-swing::before {
  content: "";
  background: url("../img/icons/icon-swing.svg");
  width: 65px;
  height: 80px;
  display: block;
  margin: 0px auto 20px;
}

@media (max-width: 768px) {
  .main-page-presentation {
    padding: 60px 15px 60px 15px;
  }

  .main-page-presentation-header {
    font-size: 20px;
  }

  .main-page-presentation-text {
    font-size: 16px;
  }

  .main-page-presentation .products-item-link {
    font-size: 16px;
  }

  .main-page-presentation-products-row .products-item:hover {
    outline: none;
  }
}

@media (max-width: 425px) {
  .main-page-presentation-products-row:first-child {
    margin-bottom: 0px;
  }

  .main-page-presentation-products-row .products-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .main-page-presentation-products-row .products-item:hover {
    outline: none;
  }

  .main-page-presentation-products-row:last-child .products-item:nth-child(1) {
    padding: 20px 28px 20px 28px;
  }

  .main-page-presentation-products-row:last-child .products-item:nth-child(2) {
    padding: 20px 20px 20px 20px;
  }

  .main-page-presentation-products-row:last-child .products-item:nth-child(3) {
    padding: 20px 26px 0px 26px;
  }
}

.main-page-zrub-wrapper {
  background-image: url(../img/background/background-1.png);
  background-size: cover;
  background-attachment: fixed;
}

.main-page-zrub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 60px 15px 60px 15px;
}

.main-page-zrub-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.main-page-zrub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0px auto 40px;
  padding: 20px 0px;
  border: 4px solid #ffffff;
}

.main-page-zrub-title-header {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.main-page-zrub .main-page-zrub-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.main-page-zrub .main-page-zrub-benefits:last-child {
  margin-bottom: 0;
}

.main-page-zrub .main-page-zrub-benefits .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.main-page-zrub .main-page-zrub-benefits .icon.icon-tree {
  background-image: url(../img/icons/icon-pinetree.svg);
  width: 40px;
  height: 70px;
}

.main-page-zrub .main-page-zrub-benefits .icon.icon-money {
  background-image: url(../img/icons/icon-money.svg);
  width: 40px;
  height: 75px;
}

.main-page-zrub .main-page-zrub-benefits .icon.icon-timetable {
  background-image: url(../img/icons/icon-timetable.svg);
  width: 55px;
  height: 70px;
}

.main-page-zrub .main-page-zrub-benefits .icon.icon-clock {
  background-image: url(../img/icons/icon-clock.svg);
  width: 60px;
  height: 65px;
}

.main-page-zrub .main-page-zrub-benefits-text {
  margin-left: 40px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: left;
}

@media (max-width: 768px) {
  .main-page-zrub-title-header {
    font-size: 20px;
  }

  .main-page-zrub .main-page-zrub-benefits .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
  }

  .main-page-zrub .main-page-zrub-benefits-text {
    margin-left: 20px;
    font-size: 16px;
  }
}

.main-page-slider-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.main-page-slider {
  padding: 60px 15px 60px 15px;
  position: relative;
}

.main-page-slider-title {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #707070;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-page-slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-page-slider-items .slider-items-active {
  display: block;
}

.main-page-slider-items img {
  max-width: 100%;
  width: 650px;
  height: 450px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px 20px;
  border: 3px solid #6FC28A;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.prev-btn {
  left: 0;
}

.prev-btn::before {
  content: "";
  background: url(../img/icons/slider-left.svg);
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 5px;
}

.next-btn {
  right: 0;
}

.next-btn::before {
  content: "";
  background: url(../img/icons/slider-right.svg);
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 5px;
}

.main-page-slider-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 20px 0px 0px 0px;
}

.gallery-items {
  opacity: 0.8;
}

.gallery-items img {
  width: 130px;
  max-width: 100%;
  height: 110px;
}

.gallery-items:hover {
  opacity: 1;
}

@media (max-width: 815px) {
  .main-page-slider {
    padding: 60px 0px 60px 0px;
  }

  .main-page-slider-title {
    font-size: 20px;
  }

  .main-page-slider-items img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .prev-btn,
  .next-btn {
    padding: 15px 15px;
    background-color: #000000;
    opacity: 0.8;
    border: none;
  }

  .main-page-slider-gallery {
    display: none;
  }

  .main-page-slider-dots {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .main-page-slider-dots .dot-items {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #6FC28A;
    margin: 0px 5px 0px 5px;
  }

  .main-page-slider-dots .dot-items.dot-items-active {
    background-color: #ffffff;
    border: 1px solid #6FC28A;
  }
}

.main-page-us {
  background-image: url(../img/background/background-2.png);
  background-size: cover;
  padding: 60px 15px 60px 15px;
  background-attachment: fixed;
}

.main-page-us-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.main-page-us-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0px 0px 40px 0px;
  height: auto;
  padding: 20px 0px 20px 0px;
  border: 4px solid #ffffff;
}

.main-page-us-title-header {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.main-page-us-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  color: #ffffff;
  font-size: 18px;
  font-family: "Open Sans";
}

.main-page-us-items-list-left {
  counter-reset: listLeft;
}

.main-page-us-items-list-left .list-us-items {
  margin: 0px 0px 20px 0px;
  counter-increment: listLeft;
  list-style-type: none;
}

.main-page-us-items-list-left .list-us-items::before {
  content: counter(listLeft);
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  border-radius: 50%;
  line-height: 55px;
  color: #6FC28A;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.main-page-us-items-list-right {
  counter-reset: listRight 3;
}

.main-page-us-items-list-right .list-us-items {
  margin: 0px 0px 20px 0px;
  counter-increment: listRight;
  list-style-type: none;
}

.main-page-us-items-list-right .list-us-items::before {
  content: counter(listRight);
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  border-radius: 50%;
  line-height: 55px;
  color: #6FC28A;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.main-page-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  border: 4px solid #ffffff;
  margin: 40px 0px 0px 0px;
  padding: 40px 15px 40px 15px;
}

.main-page-us-form-title {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.main-page-us-form-description {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.main-page-us-form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-page-us-form-items .form-items {
  width: 100%;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

.main-page-us-form-items .form-items:first-child {
  margin-top: 20px;
}

.main-page-us-form-items .form-error-name {
  display: none;
  padding: 5px 5px;
  background-color: red;
  color: #ffffff;
  opacity: 0.7;
}

.main-page-us-form-items .form-error-phone {
  display: none;
  padding: 5px 5px;
  background-color: red;
  color: #ffffff;
  opacity: 0.7;
}

.main-page-us-form-items input[type=text],
.main-page-us-form-items input[type=tel] {
  width: 100%;
  min-height: 40px;
  max-width: 565px;
  padding: 5px 0px 5px 20px;
  background: #ffffff;
  color: #6FC28A;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.main-page-us-form-items input[type=text]::-webkit-input-placeholder,
.main-page-us-form-items input[type=tel]::-webkit-input-placeholder {
  color: #6FC28A;
}

.main-page-us-form-items input[type=text]::-moz-placeholder,
.main-page-us-form-items input[type=tel]::-moz-placeholder {
  color: #6FC28A;
}

.main-page-us-form-items input[type=text]:-ms-input-placeholder,
.main-page-us-form-items input[type=tel]:-ms-input-placeholder {
  color: #6FC28A;
}

.main-page-us-form-items input[type=text]::-ms-input-placeholder,
.main-page-us-form-items input[type=tel]::-ms-input-placeholder {
  color: #6FC28A;
}

.main-page-us-form-items input[type=text]::placeholder,
.main-page-us-form-items input[type=tel]::placeholder {
  color: #6FC28A;
}

.main-page-us-form-items input[type=submit] {
  width: 100%;
  max-width: 250px;
  padding: 5px 20px 5px 20px;
  background: #ffffff;
  color: #6FC28A;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .main-page-us-title-header {
    font-size: 20px;
  }

  .main-page-us-items {
    font-size: 16px;
  }

  .main-page-us-form-title {
    font-size: 20px;
  }
}

.main-page-contacts-wrapper {
  padding: 60px 15px 60px 15px;
}

.main-page-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-page-contacts-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.main-page-contacts .contacts-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-page-contacts .contacts-item:first-child .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  margin-right: 20px;
}

.main-page-contacts .contacts-item:first-child .icon.icon-geoposition {
  background-image: url(../img/icons/icon-geoposition.svg);
  width: 30px;
  height: 55px;
}

.main-page-contacts .contacts-item:first-child .contacts-item-geoposition {
  color: #707070;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.main-page-contacts .contacts-items-phone {
  color: #707070;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.main-page-contacts .contacts-items-phone:hover {
  text-decoration: underline;
}

.main-page-contacts .contacts-items-phone::before {
  content: "";
  background: url(../img/icons/icon-call.svg);
  width: 30px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .main-page-contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-page-contacts .contacts-item:last-child {
    margin: 0px 0px 40px 0px;
  }
}

.article-page {
  padding: 60px 15px 60px 15px;
}

.article-page-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.article-page-title {
  margin: 0px 0px 40px 0px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.article-page-header {
  margin: 40px 0px 20px 0px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.article-page-text {
  margin: 0px 0px 20px 0px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: normal;
}

.article-page-list {
  margin: 0px 0px 20px 0px;
}

.article-page-list-item {
  margin: 0px 0px 10px 0px;
  width: 95%;
  color: #707070;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.article-page-list-item:last-child {
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.article-page-list-item::before {
  content: "*";
  margin: 0px 10px 0px 0px;
}

.article-page-img-right {
  margin: 0px 0px 0px 80px;
  float: right;
  max-width: 100%;
  width: 340px;
  height: auto;
}

.article-page .article-page-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px 0px 20px 0px;
}

.article-page-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  .article-page {
    padding: 110px 15px 60px 15px;
  }

  .article-page-title {
    font-size: 20px;
  }

  .article-page-header {
    font-size: 20px;
  }

  .article-page-text {
    font-size: 16px;
  }

  .article-page-list-item {
    font-size: 16px;
  }

  .article-page-img-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto 20px;
    float: none;
  }

  .article-page .article-page-img-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .article-page-img:first-child {
    margin: 0px 0px 20px 0px;
  }
}

.footer {
  background-color: #b7e0c4;
  padding: 40px 15px 40px 15px;
}

.footer-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.footer-wrapper {
  margin: 0px auto;
  color: #707070;
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
}

.feedback-page {
  position: relative;
}

.feedback-page-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

.feedback-page-title {
  margin: 0px 0px 40px 0px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.feedback-page-text {
  margin: 0px 0px 20px 0px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: normal;
}



.feedback-page-link {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  background-color: #6FC28A;
}




/*********************************************************************************/
/* Сервіс                                                              */
/*********************************************************************************/


.service {
background: url(../img/texture1.webp);
	height: fit-content;
	   background-size: cover; /* Масштабируем фон */
	   background-repeat: no-repeat;
	       background-attachment: fixed;
	   padding: 84px 0px 84px 0px;
}


.serviceh1 {
	width: 45%;
color: #fff;
 margin-left: auto;
    margin-right: auto;
	border: 4px solid #fff;
	text-align: center;
	padding: 10px 0px;
}

.service-ico {
	display: flex;
    justify-content: center;
padding: 10px 20px;
}

.service-ico > p {
	color: #fff;
	width: 44%;
	display: inline-block;
	padding: 0px 0px 0px 31px;
	line-height: 1.3;
    font-size: 16px;
}


.service-info {
	margin-top: 60px;
}






/*********************************************************************************/
/* Контакти                                                            */
/*********************************************************************************/

.contact {
background: url(../img/texture3.webp);
	height: fit-content;
	   background-size: cover; /* Масштабируем фон */
	   background-repeat: no-repeat;
	   margin: 40px 0px;
	   background-attachment: fixed;
	   padding: 60px 0px 60px 0px;
}

#contact .name {
	    margin: 15px 0px;
}

#contact .phone {
	    margin: 0px 0px 15px 0px;
}

input {
    overflow: visible;
    width: 57%;
	color: #6FC28A;
	height: 40px;
	padding: 0px 20px;
}

button {
    overflow: visible;
    width: 30%;
	color: #6FC28A;
		height: 50px;
		border: none;
}



#contact > div.container > div > div:nth-child(n) > div:nth-child(n) > div > span
{
	    padding: 0px 0px 0px 10px;
}

#contactend > div > div > div.col-6.textcon > p {
	    display: flex;
    align-items: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6FC28A;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #6FC28A;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #6FC28A;
}
:-moz-placeholder { /* Firefox 18- */
color: #6FC28A;
}

.contact .container .row {
justify-content: center;
}


.contacth1 {
	width: 60%;
color: #fff;
 margin-left: auto;
    margin-right: auto;
	border: 4px solid #fff;
	text-align: center;
	padding: 20px 0px;
}



.txtcol {
    
padding: 25px 0px;
font-family: SemiBold;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}

.txtnum {
	width: 45px;
height: 45px;
	letter-spacing: 0;
color: #6FC28A;
text-align: -webkit-center;
border-radius: 115px;
	display: inline-block;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.txtnum span{
position: relative;
    top: 20%;
}


.btnc {
	color: rgb(111, 194, 138);
	background-color: #fff;
}


.contactend {
	       padding: 25px 0px 65px 0px;
	
	
	
}


.contactend .row {

}


#contactend > div > div > div.col-6.textcon > p:nth-child(n) > span {
		padding: 0px 0px 0px 15px;
}

.textcon {
	text-align: left;
font: SemiBold;
letter-spacing: 0;
color: #6FC28A;
opacity: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}


footer {
		border-top: 3px solid #6FC28A;
	text-align: center;
font: Medium;
letter-spacing: 0;
	color: #6FC28A;
	padding: 30px 0px;
	    width: 70%;
	margin-left: auto;

    margin-right: auto;
}


#form label {    
width: -webkit-fill-available!important;	
}

.serviceh1 h2, .contacth1 h2 {
	font-size: 2.5rem!important;
   
}




.toplogos {
	display: block;
    width: 70%;
    background-color: #ffffffd9;
    color: #fff!important;
    padding: 84px 15px;
    margin: 0px auto;
    height: max-content;
	border-radius: 110px;
}



 .toplogos span {
	 display: inline-block;
	 text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 43px;
    color: #6FC28A;
    padding: 0px 0px 0px 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
}



@media only screen and (max-width: 768px) {
	
	
	.toptel {
	display: block;
   width: 75%;
    background-color: rgba(111, 194, 138, 0.5);
    color: #fff!important;
    padding: 10px 15px;
    margin: 0px auto;
    height: fit-content;;
}
.toptel a {
	    display: block;
    color: #fff!important;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
	
}

.toptel p {
	font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 20px;
	margin: 0px auto;
}
	
	.build-back {
    background: url(../img/house5.webp);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
	padding: 90px 0px
}
	.txtcol {
    /* padding: 25px 0px; */
    font-family: Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
	
	.contact .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
	body > div.containers > div.row {
	
    flex-direction: row;
		width: 97%;
	}
	
	
	#navbar > button {
		overflow: visible;
    color: #6FC28A;
    height: inherit;
    width: initial;
    
		
	}
	
	
#contact > div.container > div > div:nth-child(n) > div:nth-child(n) {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    width: 100%;
padding: 0px 15px;
}

#contact .container .txtcol {
    padding: 10px 0px !important;
    
}

input {
    overflow: visible;
    width: 85%;
    color: #6FC28A;
    height: 40px;
    padding: 0px 20px;
}

button {
    overflow: visible;
    width: 60%;
    color: #6FC28A;
    height: 50px;
    border: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45px;
    width: auto;
    padding: 0px 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
	    background-color: #fff;
    opacity: 0.5;
}
	.next {
    right: 0;
    top: 45px;
    border-radius: 3px 0 0 3px;
}
	
	body > div.containers > div:nth-child(n) > img
	{
		height: 100%;
    width: 100%;
	}
	
	.build-txt h1 {
    text-align: center;
    border-bottom: 3px solid #6FC28A;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #6FC28A;
    padding: 20px 0px 10px 0px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
	
	#contactend > div > div > div:nth-child(2) {
		flex: 0 0 50%;
    max-width: 100%;
		
	} 
	
	.containers {
    position: relative;
    width: 100%;
}
	
	#contactend > div > div > div.col-6.textcon {
		flex: 0 0 50%;
    max-width: 90%;
	}
	
	.contactend {
    padding: 0px 0px 65px 0px;
}
	body > div.containers > div.row > div:nth-child(3) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(4) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(5) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(6) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(7) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(8) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(9) {
		display: none;
	}
	body > div.containers > div.row > div:nth-child(10) {
		display: none;
	}
	
	
	
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
	
	.build-txt p {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #6FC28A;
    padding: 10px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.serviceh1 {
	font-size: 2.5rem;
    width: 85%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    text-align: center;
    padding: 10px 0px;
}



.service-ico > p {
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 0px 0px 0px 31px;
}

.service {
    background: url(../img/texture1.webp);
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 84px 0px 84px 0px;
}


.contacth1 {
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    text-align: center;
    padding: 10px 0px;
}

.txtcol {
    /* padding: 25px 0px; */
    font-family: Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

footer {
    border-top: 3px solid #6FC28A;
    text-align: center;
    font: Helvetica Neue;
    letter-spacing: 0;
    color: #6FC28A;
    padding: 30px 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.contact {
    background: url(../img/texture3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 15px 84px 15px;
    height: fit-content;
}

.toplogos {
	display: none;
}

}


.scroll-top {
	position: fixed;
	right: 20px;
	bottom: 10px;
	
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



img[src*="000webhost"]{   
   
   display: none !important;   
   
   }
   
   
